{% extends "base.html" %}

{% block content %}
<h2>Farmer Crops</h2>
<div>
    {% for farmer_crop in farmer_crops %}
    <div style="border: 1px solid #ddd; padding: 10px; width: 250px; text-align: center; margin: 10px;">
        <h3><a href="{% url 'farmer_crop_detail' farmer_crop.id %}">{{ farmer_crop.crop_type.name }}</a></h3>
        <p>Farmer: {{ farmer_crop.farmer.username }}</p>
        <p>Quantity: {{ farmer_crop.quantity_kg }} kg</p>
        <p>Price per kg: Rs{{ farmer_crop.price_per_kg }}</p>
        <p>Available From: {{ farmer_crop.available_from }}</p>
        <p>Available Until: {{ farmer_crop.available_until }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
